{% extends 'coupon/base.html' %}

{% block search %}
<form class="w-100" action="." method="GET">
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search" name="name" value="{{ request.GET.name }}">
</form>
{% endblock search %}

{% block content %}
<h2>Brands</h2>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>Name</th>
            <th>Code length</th>
        </tr>
        </thead>
        <tbody>
        {% for brand in object_list %}
        <tr>
            <td>{{ brand.name }}</td>
            <td>{{ brand.code_length }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}